In [1]:
import pandas as pd

In [35]:
import pandas as pd
from datetime import datetime

class BankAccount:
    def __init__(self, balance, account_type = 'savings'):
        self.balance = balance
        self.statement = pd.DataFrame({'date':[datetime.now()],'action':['opening_balance'],'amount':[''],'balance':[self.balance]})
        self.account_type = account_type
    def deposit(self, deposit_amount):
        self.balance += deposit_amount
        self.transaction = pd.DataFrame({'date':[datetime.now()],
                                    'action':['deposit'],
                                    'amount':[deposit_amount],
                                    'balance':[self.balance]})
        self.statement = self.statement.append(self.transaction)
    def withdrawal(self, withdrawal_amount):
        if self.balance - withdrawal_amount < 0:
            print('Not enough funds!')
        else:
            self.balance -= withdrawal_amount
            self.transaction = pd.DataFrame({'date':[datetime.now()],
                                    'action':['withdrawal'],
                                    'amount':[withdrawal_amount],
                                    'balance':[self.balance]})
            self.statement = self.statement.append(self.transaction)
            
    def date_range(self, starting_date, ending_date):
        
        starting_date, ending_date = args
        date_info = self.statement[(self.statement['date'] >= starting_date) & (self.statement['date'] <= ending_date)]
        return date_info

NameError: name 'self' is not defined

In [22]:
my_account = BankAccount(1000)

In [25]:
my_account.deposit(1000)

In [28]:
my_account.withdrawal(100)

In [30]:
my_account.statement

                        date           action amount  balance
0 2020-02-03 20:53:03.717913  opening_balance            1000
0 2020-02-03 20:53:06.692650          deposit   1000     2000
0 2020-02-03 20:53:08.415383          deposit   1000     3000
0 2020-02-03 20:53:10.260677          deposit   1000     4000
0 2020-02-03 20:53:12.361171       withdrawal    100     3900
0 2020-02-03 20:53:14.215652       withdrawal    100     3800
0 2020-02-03 20:53:16.048931       withdrawal    100     3700

In [31]:
my_account.date_range(['2020-02-03 20:53:06.692650', '2020-02-03 20:53:14.215652'])

                        date      action amount  balance
0 2020-02-03 20:53:06.692650     deposit   1000     2000
0 2020-02-03 20:53:08.415383     deposit   1000     3000
0 2020-02-03 20:53:10.260677     deposit   1000     4000
0 2020-02-03 20:53:12.361171  withdrawal    100     3900
0 2020-02-03 20:53:14.215652  withdrawal    100     3800

In [13]:
df2 = my_account.statement

In [14]:
type(df2)

pandas.core.frame.DataFrame

In [20]:
starting_date = '2020-02-03 20:45:24.272438'
ending_date = '2020-02-03 20:45:37.391563'

my_account.statement[(my_account.statement['date'] > starting_date) & (my_account.statement['date'] < ending_date)]

                        date      action amount  balance
0 2020-02-03 20:45:26.173934     deposit   1000     4000
0 2020-02-03 20:45:35.480766  withdrawal    100     3900